<template>
  <v-app>

    <v-app-bar app color="primary" dark>
      <v-app-bar-title>
        App Augusto
      </v-app-bar-title>
      <v-spacer></v-spacer>
      <v-icon>
        mdi-home
      </v-icon>
    </v-app-bar>


    <v-main>
    <v-row align="center" justify="center" class="pa-5">
      <span>Oi Augusto - Exemplo de Separação de Código</span>

      <p>Qual seu nome:</p>
      <input type="text" v-model="nome" class="classePadraoInputEntrada" />

      <br />
      <br />
      <p>Conteúdo da Variável nome:</p>
      <p class="classePadraoInputEntrada">{{nomeMaiusculo()}}</p>
      <input type="button" v-on:click="salvarDados()" value="Salvar Dados!!!!" class="padraoBotao" />

      <v-btn @click="salvarDados()" color="primary" dark>Salvar</v-btn>
    </v-row>
    </v-main>

    <v-footer app color="primary" dark>
      Rodapé!!!!
    </v-footer>
  </v-app>
</template>

<style>
.classePadraoInputEntrada {
  border-width: 10px;
  border-color: red;
  border-style: solid;
}

.padraoBotao {
  color: green;
  padding: 10px;
  margin: 15px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
}
</style>

<script lang="ts">
import s from './AugustoCls'
export default s
</script>